/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: teal;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: teal;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 0.9rem;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    text-align: center;
}

.sidebar.close .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 20px;
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 82px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}



#clock {
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
    padding: 0px 60px;
}



#date {

    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
    padding: 0px 60px;
}


#day {
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
    padding: 0px 60px;
}

.text1 {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

a {
    color: inherit;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 37vh;
    padding: 0px 60px;
}


small {
    color: lightgray;
}

.btn {
    background-color: white;
    padding: 1em 1.5em;
    border-radius: 1rem;
    text-decoration: none;
}

.btn i {
    padding-right: 0.3em;
}

.app-title {
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app-title p {
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: var(--text-color);
}

.notification {
    background-color: #f8d7da;
    display: none;
}

.notification p {
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container {
    width: 300px;
    height: 260px;
    color: var(--text-color);
    background: var(--body-color);
    background-color: transparent;
}

.weather-icon {
    width: 300px;
    height: 108px;
    color: var(--text-color);
}

.dark .weather-icon {
    filter: invert(1);
}

.weather-icon img {
    display: block;
    margin: 0 auto;
}

.temperature-value {
    width: 319px;
    height: 65px;
}

.temperature-value p {
    padding: 0;
    margin: 0;
    color: var(--text-color);
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temperature-value p:hover {}

.temperature-value span {
    color: var(--text-color);
    font-size: 0.5em;
}

.temperature-description {}

.temperature-description p {
    padding: 8px;
    margin: 0;
    color: var(--text-color);
    text-align: center;
    font-size: 1.2em;
}

.location p {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    text-align: center;
    font-size: 0.8em;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

.onoffswitch3 {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch3-checkbox {
    display: none;
}

.onoffswitch3-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0px solid #999999;
    border-radius: 0px;
}

.onoffswitch3-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch3-inner>span {
    display: block;
    float: left;
    position: relative;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
}

.onoffswitch3-inner .onoffswitch3-active {
    padding-left: 10px;
    color: var(--body-color);
    color: #FFFFFF;
}

.onoffswitch3-inner .onoffswitch3-inactive {
    width: 100px;
    padding-left: 16px;
    background-color: #EEEEEE;
    color: var(--text-color);
    text-align: right;
    background-color: transparent;
}

.onoffswitch3-switch {
    display: block;
    width: 50%;
    margin: 0px;
    text-align: center;
    border: 0px solid #999999;
    border-radius: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    background: transparent;
}

.onoffswitch3-active .onoffswitch3-switch {
    color: var(--text-color);
    left: 0;
    width: 160px;
    background: var(--body-color);
    background: transparent;
    
}

.onoffswitch3-inactive {
    background: #A1A1A1;
    right: 0;
    width: 20px;
    background-color: transparent;
}

.onoffswitch3-checkbox:checked+.onoffswitch3-label .onoffswitch3-inner {
    margin-left: 0;
}

.glyphicon-remove {
    padding: 3px 0px 0px 0px;
    color: var(--text-color);
    color: var(--body-color);
    height: 25px;
    width: 25px;
    border-radius: 15px;
    background-color: transparent;
}

.scroll-text {
    color: var(--text-color);
    width: calc(100% - 160px);
    float: right;
}
.user-email {
    font-size: 16px;
}