@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body{
    height: 100vh;
	background: linear-gradient(to left bottom, rgba(17, 17, 17, 0.5), rgba(17, 17, 17, 0.8)), url(/images/Backgroundforboot.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.forms-out {
    font-family: "Fira Sans", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

}

.forms-in {
    width: 93%;
    margin: 0 auto;
    color: white;

}

.forms-in div {
    padding: 30px 20px;
    max-width: 350px;
    margin: 0 auto;
    background: teal;
}

.forms-in h3 {
    text-align: center;
}

.forms-in input {
    border: none;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
}

.forms-in button {
    border: none;
    padding: 7px 20px;
    background: #e8f8ff;
    color: #168ab8;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.forms-in button:hover {
    opacity: 0.7;
}

.hide {
    display: none;
}

#forgot-password {
    text-align: center;
    font-size: 13 px;
    cursor: pointer;
}

#forgot-password:hover {
    opacity: 0.7;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

@media screen and (min-width: 320px) {
    .alert {
        padding: 20px 40px;
        width: 69%;
        position: absolute;
        right: 0;
        top: 75px;
        border-radius: 4px;
        border-left: 8px solid #ffa502;
        overflow: hidden;
        opacity: 0;
        font-family: Poppins, sans-serif;
        text-align: center;
        background-color: #e8f8ff;
    }
}


@media screen and (min-width: 600px) {
    .alert {
        padding: 20px 40px;
        width: 80%;
        position: absolute;
        right: 0;
        top: 10px;
        border-radius: 4px;
        border-left: 8px solid #ffa502;
        overflow: hidden;
        opacity: 0;
        font-family: Poppins, sans-serif;
        text-align: center;
    }
}

@media screen and (min-width: 425px) {
    .alert {
        padding: 20px 40px;
        width: 74%;
        position: absolute;
        right: 0;
        top: 80px;
        border-radius: 4px;
        border-left: 8px solid #ffa502;
        overflow: hidden;
        opacity: 0;
        font-family: Poppins, sans-serif;
        text-align: center;
        background-color: #e8f8ff;
    }
}

@media screen and (min-width: 360px) {
    .alert {
        padding: 20px 40px;
        width: 72%;
        position: absolute;
        right: 0;
        top: 90px;
        border-radius: 4px;
        border-left: 8px solid #ffa502;
        overflow: hidden;
        opacity: 0;
        font-family: Poppins, sans-serif;
        text-align: center;
        background-color: #e8f8ff;
    }
}

@media screen and (min-width: 768px) {
    .alert {
        padding: 20px 40px;
        width: 87%;
        position: absolute;
        right: 0;
        top: 10px;
        border-radius: 4px;
        border-left: 8px solid #ffa502;
        overflow: hidden;
        opacity: 0;
        font-family: Poppins, sans-serif;
        text-align: center;
    }
}

@media screen and (min-width: 916px) {
    .alert {
        padding: 20px 40px;
        width: 89%;
        position: absolute;
        right: 0;
        top: 10px;
        border-radius: 4px;
        border-left: 8px solid #ffa502;
        overflow: hidden;
        opacity: 0;
        font-family: Poppins, sans-serif;
        text-align: center;
        background-color: #e8f8ff;
    }
}

@media screen and (min-width: 512px) {
    .alert {
        padding: 20px 40px;
        width: 87%;
        position: absolute;
        right: 0;
        top: 10px;
        border-radius: 4px;
        border-left: 8px solid #ffa502;
        overflow: hidden;
        opacity: 0;
        font-family: Poppins, sans-serif;
        text-align: center;
        background-color: #e8f8ff;
    }
}

@media screen and (min-width: 412px) {
    .alert {
        padding: 20px 40px;
        width: 80%;
        position: absolute;
        right: 0;
        top: 80px;
        border-radius: 4px;
        border-left: 8px solid #ffa502;
        overflow: hidden;
        opacity: 0;
        font-family: Poppins, sans-serif;
        text-align: center;
        background-color: #e8f8ff;
    }
}

@media screen and (min-width: 1024px) {
    .alert {
        padding: 20px 40px;
        width: 90%;
        position: absolute;
        right: 0;
        top: 75px;
        border-radius: 4px;
        border-left: 8px solid #ffa502;
        overflow: hidden;
        opacity: 0;
        font-family: Poppins, sans-serif;
        text-align: center;
        background-color: #e8f8ff;
    }
}

@media screen and (min-width: 1440px) {
    .alert {
        padding: 20px 40px;
        width: 93%;
        position: absolute;
        right: 0;
        top: 55px;
        border-radius: 4px;
        border-left: 8px solid #ffa502;
        overflow: hidden;
        opacity: 0;
        font-family: Poppins, sans-serif;
        text-align: center;
        background-color: #e8f8ff;
    }
}

.alert.showAlert {
    opacity: 1;
    pointer-events: auto;
}

.alert.show {
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    40% {
        transform: translateX(-10%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-10px);
        opacity: 1;
    }
}

.alert.hide {
    animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
    0% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(100%);
    }
}

.alert .fa-exclamation-circle {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ce8500;
    font-size: 30px;
}

.alert .msg {
    padding: 0 20px;
    font-size: 12px;
    color: #ce8500;
}

.alert .close-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #ffd080;
    padding: 20px 18px;
    cursor: pointer;
}

.alert .close-btn:hover {
    background: #ffc766;
}

.alert .close-btn .fas {
    color: #ce8500;
    font-size: 22px;
    line-height: 40px;
}

.title1{
    font-size: 25px;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    color: turquoise;
    text-align: center;
}
.title2{
    font-size: 20px;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    color: rgb(219, 13, 13);
    text-align: center;
    position: relative;
    bottom: 18px;
}
.title3{
    font-size: 20px;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    color: rgb(224, 13, 13);
    text-align: center;
    position: relative;
    bottom: 59px;
}


