@import url('https://fonts.googleapis.com/css?family=Arima+Madurai&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
}

body {
    background-color: black;
    font-family: Roboto, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    /*height: 150px;
  width: 200px;
  padding: 5px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.preloader {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    width: 60px;
    height: 60px;
}

.preloader div {
    display: flex;
    width: 25px;
    height: 25px;
    background: #4A676A;
    border-radius: 3px;
}

.preloader div:nth-child(1) {
    animation: squad1 3s steps(1) infinite .2s;
}

.preloader div:nth-child(2) {
    animation: squad2 3s steps(1) infinite;
}

.preloader div:nth-child(3) {
    animation: squad3 3s steps(1) infinite .4s;
}

@keyframes squad2 {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(35px);
    }

    50% {
        transform: translate(-35px, 35px);
    }

    75% {
        transform: translateX(-35px);
    }
}

@keyframes squad1 {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateX(35px);
    }

    50% {
        transform: translate(35px, 35px);
    }

    75% {
        transform: translateY(35px);
    }
}

@keyframes squad3 {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-35px);
    }

    50% {
        transform: translate(35px, -35px);
    }

    75% {
        transform: translateX(35px);
    }
}

/*-----------------------*/
#by {
    font-family: 'Arima Madurai', cursive;
    color: white;
    font-size: 30px;
    margin-top: 20px;
}

/*
light-blue: #C1D0D0;
dark-blue: #4A676A;
cream: #FFEAA5;
yellow: #FFB037;
*/