.forms-out {
    margin: 0 auto;
    font-family: "Fira Sans", sans-serif;
    padding: 15px 0;
}

.forms-in {
    width: 93%;
    margin: 0 auto;
    color: white;
    padding: 15px 0;
}

.forms-in div {
    padding: 30px 20px;
    max-width: 350px;
    margin: 0 auto;
    background: #168ab8;
    border-radius: 5px;
    margin-bottom: 15px;
}

.forms-in h3 {
    text-align: center;
}

.forms-in input {
    border: none;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
}

.forms-in button {
    border: none;
    padding: 7px 20px;
    background: #e8f8ff;
    color: #168ab8;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.forms-in button:hover {
    opacity: 0.7;
}

.hide {
    display: none;
}

#forgot-password {
    text-align: center;
    font-size: 13 px;
    cursor: pointer;
}

#forgot-password:hover {
    opacity: 0.7;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.alert {
    background: red;
    padding: 20px 40px;
    min-width: 420px;
    position: absolute;
    right: 0;
    top: 10px;
    border-radius: 4px;
    border-left: 8px solid #ffa502;
    overflow: hidden;
    opacity: 0;
}

.alert.showAlert {
    opacity: 1;
    pointer-events: auto;
}

.alert.show {
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    40% {
        transform: translateX(-10%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-10px);
        opacity: 1;
    }
}

.alert.hide {
    animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
    0% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(100%);
    }
}

.alert .fa-exclamation-circle {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #ce8500;
    font-size: 30px;
}

.alert .msg {
    padding: 0 20px;
    font-size: 18px;
    color: #ce8500;
}

.alert .close-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #ffd080;
    padding: 20px 18px;
    cursor: pointer;
}

.alert .close-btn:hover {
    background: #ffc766;
}

.alert .close-btn .fas {
    color: #ce8500;
    font-size: 22px;
    line-height: 40px;
}