/* Resets */
hr {
    margin-left: 0;
    max-width: 40px;
}

/* Jumbotron (hero) */
.jumbotron {
    position: relative;
    background: url(images/Backgroundforboot.jpeg) no-repeat bottom center/cover;
}

.jumbotron:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.jumbotron .container {
    padding: 75px 0;
}

.jumbotron h1,
.jumbotron .lead {
    color: #fff;
}

/* Bustom button */

.btn-custom {
    background-color: #141e44;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn-custom.btnPush {
    box-shadow: 0px 5px 0px 0px #007144;

}


/* Features */
.sec-features .row:nth-of-type(n + 2) {
    margin-top: 160px;
}

.sec-features .row:last-of-type {
    margin-bottom: 160px;
}

.sec-features .feature-icon {
    max-width: 150px;
}

/* Testimonials */
.sec-testimonials {
    padding-top: 128px;
    padding-bottom: 128px;
}

/* Carousel */
.carousel-indicators {
    bottom: -30px;
}

.carousel-indicators li {
    background: rgba(33, 33, 33, 0.1);
}

.carousel-indicators li:focus,
.carousel-indicators li:hover {
    background: rgba(33, 33, 33, 0.5);
}

.carousel-indicators .active {
    background: rgba(33, 33, 33, 0.75);
}

.carousel-control-next,
.carousel-control-prev {
    color: #212121;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    color: #111;
}

/* Footer */
.footer {
    padding-top: 24px;
    padding-bottom: 24px;
    background: #212121;
}

.footer li:nth-of-type(n + 2) {
    margin-left: 8px;
}

.footer a {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.235s ease-in-out;
}

.footer a:focus,
.footer a:hover {
    color: rgba(255, 255, 255, 0.25);
}

.logo1 {
    max-height: 50px;
}

a {
    display: inline-block;
    padding: 0.8em 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    border: 3px solid #b9ddfb;
    color: yellow;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2em;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

a:hover {
    color: #e3f2fd;
}

a:hover:before {
    top: 0;
}

a:before {
    content: "";
    background: yellow;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    transition: 0.3s;
    z-index: -1;
}